header {
    background-color: rgba(0, 0, 0, 0);
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__wrap img {
    width: 70px;
}

.header__wrap ul {
    display: flex;
    column-gap: 40px;
}